<ul class="flex-container">
    <div *ngFor="let x of streamers">
        <mat-card   [routerLink]="['/streamer/', x.streamer_name]"
                    class="mat-elevation-z4" >
            <mat-card-header>
            <mat-card-title>{{x.streamer_name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="x.image">
            <mat-card-content>
            <p>
                {{shorten(x.bio)}}
            </p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        </div>
</ul>